.game-board {
  margin-bottom: 20px;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.peg {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  border-radius: 50%;
  border: 2px solid #ccc;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;
}

.r { background-color: red; }
.g { background-color: green; }
.b { background-color: blue; }
.y { background-color: yellow; }
.o { background-color: orange; }
.p { background-color: purple; }
.c { background-color: #090809; }
.m { background-color: rgb(253, 0, 253); }
.results {
  font-size: 14px;
  text-align: left;
  margin-left: 10px;
  padding-top: 5px;
}